absl-py==0.7.1
astor==0.8.0
backcall==0.1.0
decorator==4.4.0
entrypoints==0.3
fancycompleter==0.8
flake8==3.7.7
gast==0.2.2
google-pasta==0.1.6
greenlet==0.4.15
grpcio==1.20.1
h5py==2.9.0
ipython==7.16.3
ipython-genutils==0.2.0
jedi==0.13.3
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
Markdown==3.1
mccabe==0.6.1
mock==3.0.5
msgpack==0.6.1
neovim==0.3.1
numpy==1.16.3
parso==0.4.0
pdbpp==0.10.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.0.0
prompt-toolkit==2.0.9
protobuf==3.7.1
ptyprocess==0.6.0
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.4.0
pynvim==0.3.2
six==1.12.0
tb-nightly==1.14.0a20190301
tensorboard==1.13.1
tensorflow==2.0.0a0
tensorflow-estimator==1.13.0
tensorflow-gpu==2.0.0a0
termcolor==1.1.0
tf-estimator-nightly==1.14.0.dev2019030115
tqdm==4.32.1
traitlets==4.3.2
wcwidth==0.1.7
Werkzeug==0.15.4
wmctrl==0.3
